[Desktop Entry]
Name=Podcasts
Comment=Listen to your favorite shows
Exec=singularity-podcasts %u
Icon=dev.sinty.podcasts
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=podcast;podcasts;rss;feed;episode;show;audio;opml;
StartupWMClass=dev.sinty.podcasts
Actions=new-episodes;
MimeType=x-scheme-handler/sinty-podcasts;x-scheme-handler/itpc;x-scheme-handler/pcast;x-scheme-handler/feed;x-scheme-handler/podcast;application/rss+xml;

[Desktop Action new-episodes]
Name=New Episodes
Exec=singularity-podcasts --new-episodes
